<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box text-center">
        <img class="img-icon" src="https://www.flaticon.com/premium-icon/icons/svg/2153/2153842.svg" alt="">
        <mat-card-header>
            <mat-card-title>Cuenta activada</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
            <p class="paragraph">{{user.name}} Gracias por registrarte</p>
        </mat-card-content>
        <button routerLink="/login" mat-stroked-button color="accent" class="btn-block">Acceder</button>
    </mat-card>
</div>