<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box text-center">
        <img class="img-icon" src="https://www.flaticon.com/premium-icon/icons/svg/2153/2153842.svg" alt="">
        <mat-card-header>
            <mat-card-title>you were registered correctly</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
            <p class="paragraph">An email was sent to verify your account</p>
        </mat-card-content>
        
    </mat-card>
</div>